<div id="sm-header-admin" class="sm-container">
  <form name="headerForm" class="crm-form-block form-layout" novalidate>
    <div class="field-group inline clearfix">
      <label for="label">Label</label>

      <div class="field">
        <input id="label" name="label" type="text" ng-model="header.label" required/>

        <p style="" ng-show="headerForm.label.$invalid && header.submitted" class="error">Label is a required field</p>
      </div>
    </div>

    <div class="field-group inline clearfix">
      <label for="image">Image</label>

      <div sm-image-uploader
           class="field"
           model="header"
           uploader="imageUploader"
           form="headerForm"
           on-remove="remove('image')"
           config="{field: 'image', required: true, name: 'image'}"></div>
    </div>

    <div class="field-group inline clearfix">
      <label for="">Filter</label>
      <select ui-select2 multiple ng-model="header.filterIds" data-placeholder="Select filter(s)" name="" id="">
        <option ng-repeat="filter in filters" value="{{filter.id}}">{{filter.label}}</option>
      </select>
    </div>

    <div class="field-group inline clearfix">
      <label for="show-logo">Show logo on mailings with this header:</label>
      <input id="show-logo" type="checkbox" ng-model="header.show_logo"
             ng-true-value="1" ng-false-value="0"/>
    </div>

    <!-- TODO (robin): Also delete the image uploaded one the above checkbox is unchecked -->
    <div class="field-group inline clearfix" ng-show="header.show_logo">
      <label for="logo_image">Logo image</label>

      <div sm-image-uploader
           class="field"
           model="header"
           uploader="imageUploader"
           on-remove="remove('logo_image')"
           config="{field: 'logo_image', name: 'logo_image'}"></div>
    </div>

    <div class="clearfix">
      <a href ng-click="createOrUpdateHeader(headerForm)" class="button">Save</a>
      <a ng-href="#/headers" class="button">Cancel</a>
    </div>
  </form>
</div>