<div id="sm-header-admin" class="sm-container" ng-controller="HeaderAdminController">
  <form class="crm-form-block form-layout">
    <div class="field-group inline clearfix">
      <label for="label">Label</label>
      <input id="label" type="text" ng-model="header.label"/>
    </div>

    <div class="field-group inline clearfix">
      <label for="image">Image</label>

      <div class="field">
        <p ng-hide="images.header.uploaded" class="file-drop-zone" ng-file-over ng-file-drop>
          <span>{{!images.header.uploading ? 'Drop image here' : 'Uploading, ' + uploader.progress + '% complete'}}</span>
        </p>
        <p class="image-preview">
          <img class="thumb" ng-show="images.header.uploaded" ng-src="{{images.header.file}}"/>
          <a href class="remove" ng-click="removeImage()">Remove</a>
        </p>
        <input id="image" type="file" ng-file-select/>
      </div>
    </div>

    <div class="field-group inline clearfix">
      <label for="show_logo">Show logo on mailings with this header:</label>
      <input id="show_logo" type="text" ng-model="header.show_logo"/>
    </div>

    <div class="field-group inline clearfix">
      <label for="logo_image">Logo image</label>
      <input id="logo_image" type="text" ng-model="header.logo_image"/>
    </div>

    <div class="clearfix">
      <a href ng-click="createOrUpdateHeader()" class="button">Save</a>
      <a ng-href="#/headers" class="button">Cancel</a>
    </div>
  </form>
</div>