<p>
  <label for="label">Label</label>
  <input id="label" type="text"/>
</p>
<p>
  <label for="image">Image</label>
  <input id="image" type="text"/>
</p>
<p>
  <label for="filter">Label</label>
  <input id="filter" type="text"/>
</p>
<p>
  <label for="show_logo">Show logo on mailings with this header:</label>
  <input id="show_logo" type="text"/>
</p>
<p>
  <label for="logo_image">Logo image</label>
  <input id="logo_image" type="text"/>
</p>
<p>
  <input id="cancel" class="cancel form-submit" type="button"/>
</p>