<div id="sm-headers-admin" class="sm-container" ng-controller="HeadersAdminController">
  <p><a ng-href="#/headers/new" ng-click="enableAddingHeader()">Add a new mailing header</a></p>

  <table id="sm-headers-admin-table">
    <thead>
    <tr>
      <th class="id">ID</th>
      <th class="label">Label</th>
      <th class="thumb">Thumbnail</th>
      <th class="boolean">Show logo</th>
      <th class="action-buttons">Action</th>
    </tr>
    </thead>
    <tr ng-repeat="header in headers.values">
      <td class="id">{{header.id}}</td>
      <td class="label">{{header.label}}</td>
      <td class="thumb">{{header.image}}</td>
      <td class="boolean">{{header.show_logo === '1' ? 'Yes' : 'No'}}</td>
      <td class="action-buttons">
        <a ng-href="#/headers/{{header.id}}/edit" ng-click="editHeader($index)" class="button">Edit</a>
        <a href ng-click="deleteHeader($index)" class="button">Delete</a>
      </td>
    </tr>
  </table>
</div>