<div ng-controller="MessagesAdminController">
  <p><a href="">Add new campaign messages</a></p>

  <table>
    <thead>
    <tr>
      <td>ID</td>
      <td>Label</td>
      <td>Text</td>
      <td>Is active</td>
      <td></td>
    </tr>
    </thead>
    <tr ng-repeat="message in messages.values">
      <td>{{message.id}}</td>
      <td>
        <span ng-hide="message.editing">{{message.label}}</span>
        <form ng-show="message.editing">
          <input id="label-{{message.id}}" type="text"/>
        </form>
      </td>
      <td>{{message.text}}</td>
      <td>{{message.isActive}}</td>
      <td><a ng-click="message.editing = true" class="button">Edit</a></td>
    </tr>
  </table>

  <p><a href="">Add new campaign messages</a></p>

</div>