<div ng-controller="WizardStepsCtrl as steps" class="sm-container">
  <div ng-include="steps.partial"></div>
  <div ng-controller="MailingButtonsCtrl as buttons" class="buttons">
    <div class="pagination left">
      <a sm-disabled="!buttons.isInitialised()" href ng-click="buttons.prevStep()" ng-if="buttons.showPrevStepLink" class="button">&laquo; Prev Step</a>
      <a sm-disabled="!buttons.isInitialised()" href ng-click="buttons.nextStep()" ng-if="buttons.showNextStepLink" class="button">Next Step &raquo;</a>
    </div>

    <div class="action right">
      <a sm-disabled="!buttons.isInitialised()" href ng-click="buttons.saveAndContinueLater()" class="button"
         ng-if="!buttons.showSubmitMassEmailLink">
        Save &amp; Continue Later
      </a>
      <a sm-disabled="!buttons.isInitialised()" href ng-click="buttons.submitMassEmail()" class="button"
         ng-if="buttons.showSubmitMassEmailLink">
        {{ buttons.canUpdate ? 'Update' : 'Submit' }} Mass Email
      </a>
      <a href ng-click="buttons.cancel()" class="button">Cancel</a>
    </div>
  </div>
</div>