<div class="sm-container">
  <h1>Step 4 - Schedule and Send</h1>

  <p>You can schedule this mailing to be sent starting at a specific data and time, OR you can request it</p>

  <form class="crm-form-block">
    <div class="field-group inline clearfix">
      <label for="send-immediately">Send immediately</label>
      <input id="send-immediately" name="send-immediately" type="checkbox" ng-model="mailing.send_immediately"
             ng-true-value="1" ng-false-value="0"/>
    </div>

    <div class="field-group inline clearfix">
      <p class="label">OR</p>
    </div>

    <div class="field-group inline clearfix">
      <label for="send-immediately">Schedule Mass Email</label>

      <!-- TODO (robin): Add a date and time picker -->
<!--      <input type="text" id="datepicker" class="dateplugin dpDate" ng-model="mailing.send_on"/>-->
      <input type="text" id="datepicker" ng-model="mailing.send_on"/>

      <p>Set a data and time when you want CiviMail to start sending this mailing</p>
    </div>
  </form>
</div>