<div ng-controller="TestMailingCtrl as test">
  <form sm-loaded="steps.isInitialised()" class="crm-form-block">
    <h1>Test mailing</h1>

    <div class="cols clearfix">
      <div class="col one-half left field-group">
        <label for="reply-address">Send to an email address</label>
        <input class="full-width" id="reply-address" ng-model="test.mailing.testRecipientEmails" type="text"/>
      </div>
    </div>

    <div ng-controller="MailingButtonsCtrl as buttons" class="buttons clearfix">
      <a href ng-click="buttons.sendTestEmail()" class="button">Send</a>
    </div>

    <div class="field-group clearfix">
      <label for="preview">Preview</label>
      <iframe id="email-preview" sm-email-previewer data-email-content="test.mailing.body_html"></iframe>
    </div>
  </form>
</div>