<div ng-controller="ComposeMailingCtrl as compose">
  <form sm-loaded="steps.isInitialised()" class="crm-form-block">
    <h2>Select header image:</h2>

    <div class="field-group clearfix">
      <ui-select ng-model="compose.selectedFilterId" theme="select2">
        <ui-select-match placeholder="Filter">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="filter.id as filter in compose.filters | filter: {label: $select.search}">
          {{filter.label}}
        </ui-select-choices>
      </ui-select>
    </div>

    <div data-sm-image-carousel
         data-items="compose.headers"
         data-selected-filter-id="compose.selectedFilterId"
         data-selected-item-id="compose.mailing.header_id"
         data-items-loaded="compose.headersLoaded"
         class="simple-image-carousel">
    </div>

    <h2>Message details:</h2>

    <div class="cols clearfix">
      <div class="col one-half field-group left">
        <label for="">From</label>
        <ui-select class="full-width" ng-model="compose.mailing.from_address" theme="select2">
          <ui-select-match placeholder="Select From Address">{{$select.selected.label}}</ui-select-match>
          <ui-select-choices repeat="email.label as email in compose.fromEmails | filter: {label: $select.search}">
            {{email.label}}
          </ui-select-choices>
        </ui-select>

        <a ng-click="compose.editFromName = true" ng-show="!compose.editFromName" class="button no-margin" href>
          <i class="icon edit-icon"></i>Customise Name
        </a>

        <div ng-show="compose.editFromName" class="field-group inline no-margin">
          <input type="text" ng-model="compose.mailing.from_name" placeholder="From Name" class="no-margin left" />
          <a ng-click="compose.cancelFromNameCustomisation()" class="button" href>Cancel</a>
        </div>
      </div>

      <div class="col one-half field-group right">
        <label for="reply-address">Reply To</label>
        <input class="full-width" id="reply-address" ng-model="compose.mailing.reply_address" type="text"/>
      </div>
    </div>

    <div class="field-group clearfix">
      <label for="subject">Subject (choosing an appropriate subject is important)</label>
      <input id="subject" name="subject" type="text" class="full-width" ng-model="compose.mailing.subject"/>
    </div>

    <h2>Compose:</h2>

    <p>Your email will be automatically formatted. To see available regions, click view region demonstration:</p>

    <p>
      <a target="_blank" ng-href="{{compose.regionsTemplatePath}}">View region demonstration (open in a new window)</a>
    </p>

    <div class="field-group clearfix">
      <label for="title">Title/Strapline</label>
      <input id="title" name="title" type="text" class="full-width" ng-model="compose.mailing.title"/>
    </div>

    <div class="field-group clearfix">
      <label for="body">Main Body</label>
      <textarea sm-ck-editor name="body" id="body" cols="30" rows="10" class="full-width"
                placeholder="Dear {contact.display_name}," ng-model="compose.mailing.body">
      </textarea>
    </div>

    <div class="cols clearfix">
      <div class="field-group col left one-third">
        <label for="contact-details">Contact details</label>
        <textarea sm-ck-editor="minimal" data-height="105" name="contact-details" id="contact-details"
                  class="full-width" cols="50" rows="3" ng-model="compose.mailing.contact_details">
        </textarea>
      </div>

      <div class="field-group col right two-thirds clearfix">
        <div class="field-group clearfix">
          <label for="campaign-message">Campaign message</label>
          <ui-select ng-change="compose.updateSelectedMessage()" ng-model="compose.mailing.message_id" theme="select2">
            <ui-select-match placeholder="Select campaign message">{{$select.selected.label}}</ui-select-match>
            <ui-select-choices repeat="message.id as message in compose.messages | filter: {label: $select.search}">
              {{message.label}}
            </ui-select-choices>
          </ui-select>
        </div>

        <div class="field-group">
          <textarea class="full-width read-only" name="campaign-message-preview" id="campaign-message-preview"
                    cols="10" rows="4" ng-readonly="true">{{compose.selectedMessage.text}}</textarea>
        </div>
      </div>
    </div>
  </form>
</div>