<div class="sm-container">
  <h1>Step 4 - Schedule and Send</h1>

  <p>You can schedule this mailing to be sent starting at a specific data and time, OR you can request it</p>

  <form class="crm-form-block">
    <div class="field-group inline clearfix">
      <label for="send-immediately">Send immediately</label>
      <input id="send-immediately" name="send-immediately" type="checkbox"/>
    </div>

    <div class="field-group inline clearfix">
      <p class="label">OR</p>
    </div>

    <div class="field-group inline clearfix">
      <label for="send-immediately">Schedule Mass Email</label>
      <input type="text" id="datepicker" class="dateplugin dpDate"/>

      <p>Set a data and time when you want CiviMail to start sending this mailing</p>
    </div>
  </form>
</div>