<div class="sm-container">
  <h1>Step 1 - Create Mailing</h1>
<ul>
  <li ng-repeat="filters in steps.1.fields.headerImageFilters()"></li>
</ul>
  <form action="">
    <div class="field-group clearfix">
      <label for="remove-duplicates">Remove duplicate emails?</label>
      <input name="remove-duplicates" id="remove-duplicates" type="checkbox"/>
    </div>
    <select ui-select2 multiple ng-model="selected" data-placeholder="Select group(s)">
      <option ng-repeat="group in groups" value="{{group.id}}">{{group.title}}</option>
    </select>
  </form>
</div>