<div class="sm-container">
  <div ng-include="partial"></div>

  <div class="buttons">
    <div class="pagination">
      <a href ng-click="prevStep()" ng-if="showPrevStepLink" class="button">Prev Step</a>
      <a href ng-click="nextStep()" ng-if="showNextStepLink" class="button">Next Step</a>
    </div>

    <div class="action">
      <a href ng-click="saveAndContinue()" class="button" ng-if="!showSubmitMassEmailLink">Save &amp; Continue Later</a>
      <a href ng-click="submitMassEmail()" class="button" ng-show="showSubmitMassEmailLink">Submit Mass Email</a>
      <a href ng-click="cancel()" class="button">Cancel</a>
    </div>
  </div>
</div>