<div class="sm-container">
  <h1>Step 1 - Create Mailing</h1>

 <form class="crm-form-block">
    <div class="field-group">
      <label for="mailing-name">Name your mailing:</label>
      <input name="mailing-name" id="mailing-name" type="text" class="two-thirds" ng-model="mailing.name"/>
    </div>

    <div class="field-group inline clearfix">
      <label for="remove-duplicates" class="auto-width">Remove duplicate emails?</label>
      <input name="remove-duplicates" id="remove-duplicates" type="checkbox"/>
    </div>

    <h2>Mailing Recipients</h2>
    <div class="field-group required">
      <label for="">Include group(s)</label>
      <select ui-select2 multiple ng-model="selected" data-placeholder="Select group(s)">
        <option ng-repeat="group in groups" value="{{group.id}}">{{group.title}}</option>
      </select>
    </div>
  </form>
</div>