<div class="sm-container">
  <h1>Step 2 - Compose Mailing</h1>

  <form class="crm-form-block">
    <h2>Select header image:</h2>

    <div class="field-group clearfix">
      <select ui-select2 ng-model="models.selectedFilterId" data-placeholder="Filter" name="" id="">
        <option value="all">All</option>
        <option ng-repeat="filter in filters" value="{{filter.id}}">{{filter.label}}</option>
      </select>
    </div>

    <div data-sm-image-carousel
         data-items="headers"
         data-selected-filter-id="models.selectedFilterId"
         data-selected-item-id="mailing.header_id"
         data-items-loaded="models.headersLoaded"
         class="simple-image-carousel">
    </div>

    <h2>Message details:</h2>

    <div class="cols clearfix">
      <div class="col one-half field-group left">
        <label for="">From address</label>
        <select class="full-width" ui-select2 ng-model="mailing.from_address" data-placeholder="Select from address" name="" id="">
          <option value=""></option>
          <option ng-repeat="email in fromEmailOptionValues" value="{{email.label}}">{{email.label}}</option>
        </select>
      </div>

      <div class="col one-half field-group right">
        <label for="reply-address">Reply To</label>
        <input class="full-width" id="reply-address" ng-model="mailing.reply_address" type="text"/>
      </div>
    </div>

    <div class="field-group clearfix">
      <label for="subject">Email subject</label>
      <input id="subject" name="subject" type="text" class="full-width" ng-model="mailing.subject"/>
    </div>

    <h2>Compose:</h2>

    <p>Your email will be automatically formatted. To see available regions, click view region demonstration:</p>

    <p><a href>View region demonstration (open in a new window)</a></p>

    <div class="field-group clearfix">
      <label for="title">Title/Strapline</label>
      <input id="title" name="title" type="text" class="full-width" ng-model="mailing.title"/>
    </div>

    <div class="field-group clearfix">
      <label for="body">Main Body</label>
      <textarea sm-ck-editor name="body" id="body" cols="30" rows="10" class="full-width" ng-model="mailing.body"></textarea>
    </div>

    <div class="cols clearfix">
      <div class="field-group col left one-third">
        <label for="contact-details">Contact details</label>
        <textarea name="contact-details" id="contact-details" class="full-width" cols="10" rows="4"
                  ng-model="mailing.contact_details"></textarea>
      </div>

      <div class="field-group col right two-thirds clearfix">
        <div class="field-group clearfix">
          <label for="campaign-message">Campaign message</label>
          <select ui-select2 ng-model="mailing.message_id" data-placeholder="Select campaign message"
                  name="campaign-message" id="campaign-message">
            <option value=""></option>
            <option selected="selected" ng-repeat="message in messages" value="{{message.id}}">{{message.label}}</option>
          </select>
        </div>

        <div class="field-group">
          <textarea class="full-width read-only" name="campaign-message-preview"
                    id="campaign-message-preview" cols="10" rows="4"
                    ng-readonly="true">{{models.selectedMessage.text}}</textarea>
        </div>
      </div>
    </div>
  </form>
</div>