.sm-container {
  overflow: hidden;
  
  .select2-container {
    min-width: 10rem;
    max-width: 20rem;
  }
  
  p {
    margin: 0.5rem 0rem;
  }
  p:first-child, div:first-child {
    margin-top: 0;
  }
  p:last-child, div:last-child {
    margin-bottom: 0;
  }
  .crm-form-block {
    margin: 1rem 0 !important;
  }
  .crm-form-block {
    padding: 1rem;
    transition: linear 200ms;
    -webkit-transition: linear 200ms;
    position: relative;
    top:0;
  }  
  a {
  }
  textarea, input[type="text"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.25rem;
  }
  textarea {
    resize: none;    
  }
  .field-group {
    margin: 0.5rem 0;
  }
  .field-group.inline label {
    width: 20%;
    float: left;
    text-align: right;
    margin-right: 1rem;
  }
  .form-layout input {
    float: left;
  }
  .form-layout .form-field {
    clear: both;
  }
  .resizable-textarea {
    width: 75%;
    float: left;
    textarea {
      width: 100%;
    }
  }
  .ng-show {
    opacity: 1;
  }
  .ng-hide {
     opacity: 0;
     top: -10px;
  }
  .ng-enter, .ng-leave-active {
    opacity: 0;
    display: block !important;
  }
  .ng-enter-active, .ng-leave {
    opacity: 1;
    display: block !important;
  }
}

#sm-messages-admin-table {
  textarea, input[type="text"] {
    width: 100%;
  }
  .text {
    width: 50%;
  }
  .label {
    width: 15%;
  }
}