/* Generic colours */
$black: #000;
$darkest-grey: #303030;
$dark-grey: #505050;
$grey: #808080;
$medium-grey: #a0a0a0;
$light-grey: #c0c0c0;
$lightest-grey: #f0f0f0;
$yellow: lightgoldenrodyellow;
$orange: orange;
$green: green;
$red: indianred;

/* Themed colours */
$drop-zone: $yellow;

/* Fonts */
$read-only: $grey;

/* Dimensions */
$one-third: 33%;
$two-thirds: 66%;
$one-quarter: 25%;
$three-quarters: 75%;
$one-half: 50%;
$full: 100%;
$border-radius: 3px;

.sm-container {
/*   overflow: hidden; */
  .fa-clock-o {
    color: $orange;
  }

  .fa-check,
  .fa-check-circle-o {
    color: $green;
  }

  .fa-pencil,
  .fa-pencil-square,
  .fa-pencil-square-o {
    color: $dark-grey;
  }

  .fa-times-circle-o {
    color: $red;
  }

  .quickdate {
    font-size: 0.8rem;
    margin: 0.25rem 0;

    .quickdate-button {
      color: inherit;
      font-size:inherit;
      
    }
    .quickdate-button:hover {
      text-decoration: underline;
    }
    .quickdate-popup {
      font-size: inherit;

      .quickdate-text-inputs {
        label {
          width: auto;
          float: none;
          text-align: inherit;
          font-weight: bold;
          font-size: inherit;
          padding: 0;
          margin: 2px 0;
        }
        input {
          font-size: inherit;
        }
      }
      .quickdate-calendar-header {
        .quickdate-month {
          font-size: inherit;
        }
      }
      .quickdate-calendar {
        border: solid 1px #ccc;
        margin: 5px 0;

        th, td {
          border-width: 0 1px 1px 0;
        }
        th {
          text-align: center;
        }
        td {
          text-align: center;
        }
      }
    }    
  }

  table {
    tr {
      td.current-status {
        text-transform: capitalize;
        text-align: center;
      }
      td.thumb {
        img {
          max-height: 50px;
        }
      }
      td.action-buttons {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
      }
    }
  }

  .buttons {
    margin-top: 0 !important;    
    margin-bottom: 1rem !important;    

    p {
      margin-top: 0;
      margin-bottom: 0;

      a {
        margin-bottom: 0;
      }
    }
  }

  .filters {
    h2 {
      margin: 0;
    }
    h3 {
      font-weight: normal;
    }
    .filter {
      margin: 1rem 0 0;
    }
    .filter:first-child {
      margin-top: 0;
    }
    .filter.inline {
      .filter-title {
        display: inline;
        margin-right: 1rem;
      }
      input {}
      label {
        margin-left: 0.25rem;
      }
      ul.inline {
        li {
          margin: 0;
          padding: 0;
        }
        label {
          float: none;
          display: inline;
        }
      }
    }
  }

  h1, h2, h3 {
    padding-left: 0;
  }

  .loading {
    width: 16px;
    height: 16px;
    display: block;
    background: url('ajax-loader.gif') no-repeat;
  }

  .simple-image-carousel {
    overflow: scroll;    
    min-height: 150px;
    height: auto;

    ul {        
      padding: 0;
      background: $lightest-grey;
      width: 5000px;
      min-width: 100%;
      max-height: 120px;
      overflow: hidden;    

      li {      
        float: left;
        list-style: none;
/*         height: 100px; */
        height: auto;
        display: block;

        img {
          max-height: 100px;
          padding: 0.5rem;
          border: 1px dashed $light-grey;
          border-radius: $border-radius;
          display: block;
          box-sizing: border-box;          
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          margin-left: 0.5rem;
          cursor: pointer;
        }

        img.selected {
/*           border-color: $medium-grey; */
          border-style: solid;
          background: $yellow;          
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
        }

        span {
          height: 100px;
          padding: 0.5rem;
          margin: 0.5rem;          
          box-sizing: border-box;
          line-height: 7;
          display: block;
          color: $grey;

          .loading {
            left: 49%;
            position: relative;
            top: 25%;
          }
        }
      }
      
      li:last-child img {
        margin-right: 0.5rem !important;
      }

      li.empty-placeholder {
        width: 100%;
        text-align: center;
      }
    }    
  }
  
  #email-preview {
    background-color: white;
    width: 100%;
    height: 600px;
    border: 2px dashed #ccc;
    border-radius: $border-radius;
    box-sizing: border-box;
  }

  i.icon {
    margin-top: 2px;
    margin-right: 2px;
  }
  
  .field {
    width: $three-quarters;
    
    .image-preview,
    .file-drop-zone {
      width: $one-half;
    }
    
    .image-preview {
      position: relative;
      .thumb {
        width: $full;
        padding: 5px;
        border: 1px dashed $grey;
        border-radius: $border-radius;
        box-sizing: border-box;
      }
      .remove {
        text-indent: -9999em;
        display: none;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 6%;
        padding: 5px;
        box-sizing: border-box;
        background: url(/sites/all/modules/civicrm/i/close.png) no-repeat;
        right: 6%;
      }
    }
    .image-preview:hover .remove {
      display: block;
    }
    
    .file-drop-zone {
      border: 1px dashed $grey;
      text-align: center;
      padding: 2rem;
      border-radius: $border-radius;
      color: $grey;
      box-sizing: border-box;
    }
  }
  
  .file-drop-zone.ng-file-over {
    background: $drop-zone;
    color: inherit;
  }
    
  .read-only {
    color: $read-only;
  }
  
  #campaign-message-preview {
    height: 109px;
  }
  
  .full-width {
    width: $full !important;
  }
  
  .buttons {
    background: none !important;
  }
  .left,
  .right {
    text-align: left;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .field-group.inline .auto-width {
    width: auto;
  }
  ul.inline {
    list-style: inline;
  }
  .one-half {
    width: $one-half;
    box-sizing: border-box;
  }
  .one-third {
    width: $one-third;
    box-sizing: border-box;
  }
  .two-thirds {
    width: $two-thirds;
    box-sizing: border-box;
  }
  
  #contact-details {
    height: 145px;
  }
      
  .select2-container {    
    width: $one-half;

    ul {
      margin: 3px 0 0;
      padding: 0;
    }
  }
  
  .cols {
    .col {
      margin-top: 0;
      padding-left: 1rem;

      .select2-container {
        margin-top: 0;
      }
    }
    .col:first-child {
      padding-left: 0;
    }
  }
  
  p {
    margin: 0.5rem 0rem;
  }
  p:first-child, div:first-child {
    margin-top: 0;
  }
  p:last-child, div:last-child {
    margin-bottom: 0;
  }  
  .crm-form-block {
    margin: 1rem 0 !important;
    padding: 1rem;
    transition: linear 200ms;
    -webkit-transition: linear 200ms;
    position: relative;
    top:0;
  }  
  a {
  }
  textarea, input[type="text"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.4rem;
  }
  textarea {
    resize: none;    
  }
  .field-group {
    margin: 0.5rem 0;
  }
  .field-group label,
  .field-group .label {
    margin: 0.5rem 0;
  }
  input {
    border-radius: 3px;
  }
  input,
  .select2-container {
    margin: 0.5rem 0;
  }
  
  .field-group label {
    display: block;    
  }
  .field-group.inline label,
  .field-group.inline .label {
    width: 20%;
    float: left;
    text-align: right;
    margin-right: 1rem;
  }
  .form-layout .field-group > input,
  .form-layout .field-group .field {
    float: left;
  }
  .form-layout .form-field {
    clear: both;
  }
  .resizable-textarea {
    width: 75%;
    float: left;
    textarea {
      width: 100%;
    }
  }
  .ng-show {
    opacity: 1;
  }
  .ng-hide {
     opacity: 0;
     top: -10px;
  }
  .ng-enter, .ng-leave-active {
    opacity: 0;
    display: block !important;
  }
  .ng-enter-active, .ng-leave {
    opacity: 1;
    display: block !important;
  }
}

#sm-messages-admin-table {
  textarea, input[type="text"] {
    width: 100%;
  }
  .text {
    width: 50%;
  }
  .label {
    width: 15%;
  }
}